<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet', href='/stylesheets/style.css'>
    <title>Document</title>
</head>
<body>
    <main>
        <header>
        <%- include ('partials/header.ejs') %>
        </header>
        <a href="/home">Go back Home</a><br><br>
        WELCOME TO ADMIN DASHBOARD

        <div>
            <h1>Welcome, <%= user.name %> </h1>
            <p>Code, <%= user.code %> </p>
            <b><p>Email, <%= user.email %> </p></b>
        </div>

        <!-- appointments -->
        <a href="/admins/appointments">Manage Appointments</a>

        <!-- Logout Link -->
        <a href="/admins/logout">Logout</a>

        <!-- footer section  -->
        <footer>
            <%- include ('partials/footer.ejs') %>
        </footer>
    </main>


</body>
</html>