<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet', href='/stylesheets/style.css'>
    <title>Document</title>
</head>
<body>
    <main>
        <header>
        <%- include ('partials/header.ejs') %>
        </header>
        <a href="/account/home">Go back Home</a><br><br>
        WELCOME TO ADMIN DASHBOARD

        <!--LOGOUT USER-->
        <div>
            <form action="/account/logouta" method="GET">
                <button type="submit">logout</button>
            </form>
        </div>

        <form action="/admins/ptall" method="GET">
            <button type="submit">get all patients </button>
        </form>

        <div>
            <h1>Welcome, <%= user.name %> </h1>
            <p>Code, <%= user.code %> </p>
            <b><p>Email, <%= user.email %> </p></b>
        </div>

        <!-- footer section  -->
        <footer>
            <%- include ('partials/footer.ejs') %>
        </footer>
    </main>


</body>
</html>